.form{
    border-radius: 15px;
    border: 1px #eead2d solid;
    padding: 35px;
    margin: auto;
    width: 400px;
    position: relative;
}

.form Button{
    background: #eead2d;
}

.cadastro{
    justify-content: space-between;
    display: flex;
}

.avisos{
    color: red;
    font-size: 14px;
}

@media only screen and (max-device-width: 450px) {
    .form{
        padding: 25px;
        width: 300px;
    }
}

@media only screen and (max-device-width: 350px) {
    .form{
        padding: 15px;
        width: 200px;
    }
}