.layout{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.melhorias{
    overflow-y: scroll;
    height: 500px;
    width: 400px;
}

.item{
    font-family: "Lucida Console", Courier, monospace;
    color: #fffdd9;
    font-size: 1.5em;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    font-weight: bolder;
    
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    width: 300px;
    height: 64px;
    background-image: url("/storeTileLine.jpg");
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease
}

.item:hover {
    transform: scale(1.1);
}

.item img{
    width:50px;
}

.beer{
    width: 45%;
    transition: transform 0.5s ease;
}

.beer:hover {
    transform: scale(1.1);
    filter: brightness(1.1);
}

@media only screen and (max-device-width: 750px) {
    .layout{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }
}


/* Spin */
.spin {
    justify-content: center;
    display: flex;
}
  
.beerimage {
    width: 75px;
    height: 75px;
    animation: spin 1s linear infinite; 
}
  
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
  