@charset "UTF-8";

.ul{
    display: flex;
    align-items: center;
    background-color: #eead2d;
    height: 50px;
    padding: 10px;
    list-style: none;
}

.li{
    margin: 0 20px;
    color: black;
}

.link{
    text-decoration: none;
    color: white;
}