@charset "UTF-8";

.ul{
    display: flex;
    align-items: center;
    background-color: #eead2d;
    height: 50px;
    padding: 10px;
    list-style: none;
    position: relative;
    justify-content: flex-end;
    justify-content: space-between;
}

.li{
    margin: 0 20px;
    color: black;
}

.link{
    text-decoration: none;
    color: black;
}

.botoes{
    gap: 10px;
    margin-top: 5px
}

.elementosNav{
    display: flex;
    gap: 20px;
}

@media only screen and (max-device-width: 900px) {
    .ul{
        height: 25px;
        padding: 30px;
    }
}

@media only screen and (max-device-width: 600px) {
    .ul{
        height: 25px;
        padding: 30px;
    }

    .elementosNav{
        display: flex;
        flex-direction: row;
        gap: 10px;
        margin-right: -20px;
    }
}